* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

main > * {
  margin-bottom: 5%;
}

/* HERO BELOW */

#hero {
  background-image: url(./images/menstrual-hero_mobile.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#hero > div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-display {
  padding: 10%;
}

.text-display > * {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.desk-vis {
  display: none;
}

/* FEATURES BELOW */

.detail-img {
  margin: 5vw;
  height: 90vw;
  background-size: cover;
}

#bamboo {
  background-image: url(./images/bamboo_mobile.jpg);
  color: #ffffff;
}

#pad-detail {
  background-image: url(./images/pad_detail_mobile.jpg);
}

#pad-in-hand {
  background-image: url(./images/pad_in_hand_mobile.jpg);
}

/* PRODUCTS BELOW */

.indv-product :nth-child(3) {
  font-weight: 700;
}

.indv-product > p {
  margin-left: 5%;
}

#regular-pad {
  background-image: url(./images/product_images/bamboo-regular-maxi-pad.jpg);
}

#super-pad {
  background-image: url(./images/product_images/bamboo-super-maxi-pad.jpg);
}

#overnight-pad {
  background-image: url(./images/product_images/bamboo-overnight-pads.jpg);
}

#panty-liner {
  background-image: url(./images/product_images/bamboo-panty-liners.jpg);
}

/* NEW TO PG BELOW */

#new-to-pg {
  background-image: url(./images/new-to-public-goods_mobile.jpg);
  background-size: cover;
  height: 75vh;
}

/* DESKTOP BELOW */

@media (min-width: 999px) {
  /* HERO BELOW */

  #hero {
    background-image: url(./images/menstrual-hero_desktop.jpg);
    background-size: cover;
    height: 50vh;
    flex-direction: row;
  }

  #hero > div {
    width: 35vw;
  }

  .text-display > * {
    text-align: left;
  }

  .mobile-vis {
    display: none;
  }

  .desk-vis {
    display: block;
  }

  /* FEATURES BELOW */

  #features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .detail-img {
    margin: 10px;
    height: 50vh;
  }

  #bamboo {
    background-image: url(./images/bamboo_desktop.jpg);
    width: 93vw;
  }

  #pad-detail {
    background-image: url(./images/pad_detail_desktop.jpg);
    width: 44vw;
  }

  #pad-in-hand {
    background-image: url(./images/pad_in_hand_desktop.jpg);
    width: 45vw;
  }

  /* PRODUCTS BELOW */

  #products {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .prod-img {
    margin: 5px;
    width: 22vw;
    height: 30vh;
  }

  #new-to-pg {
    background-image: url(./images/new-to-public-goods_desktop.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3vw;
    padding-right: 60vw;
  }

  #new-to-pg > .text-display {
    padding: 5px;
    text-align: left;
  }

  #new-to-pg-quotes {
    background-image: url(./images/press-quotes.png);
    background-size: cover;
    width: 28vw;
    height: 8vh;
  }
}
